@media screen and (min-width:1900px) {
    div.main__calc {
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-left:32px;
    }
    div.main__result {
        width: 50%;
    }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
    div.main__calc {
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-left:32px;
    }
    div.main__result {
        width: 50%;
    }
}
@media (min-width:601px) and (max-width:1160px) {
    div.main__calc {
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-left:32px;
    }
    div.main__result {
        width: 50%;
    }
}
@media (min-width:1px) and (max-width:600px) {
    div.main__calc {
        display: flex;
        flex-wrap: wrap;
    }
    div.main__calculator {
        width: 100%;
        order:1
    }
    div.main__result {
        width: 100%;
        order:2;
    }
}
div.main__calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 13px;
    margin-top:32px;
    padding-bottom:48px;
}
div.main__result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 13px;
    margin-top:32px;
    padding:48px 0;
}
div.main__calculator > h2 {
    min-width:250px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin:64px auto 0 auto;
}
div.main__calculator_module {
    width:90%;
    height: 75px;
    display: flex;
    /* flex-direction: column; */
    border-radius: 40px;
    align-items: center;
    /* /* align-items: center; */
    margin: 0 auto;
    background-color: var(--block-color);
    /* border-bottom: 1px solid var(--border-color); */
    /* padding:16px 0; */
}

div.main__calculator_module_pic {
    width:40px;
    height:40px;
    position: relative;
    margin: 16px 24px;
    /* background-color: var(--background-color); */
}
select.main__calculator_module_select {
    margin-top:16px;
    cursor: pointer;
    max-width: 421px;
    width:100%;
    border-radius: 22.5px;
    height:45px;
    font-size:16px;
    background: url(/img/top.svg) no-repeat 95% 50% var(--block-color);
    padding:0 32px;
}
input.main__calculator_module_input {
    margin-top:4px;
    width:90%;
    background-color: var(--block-color);
    font-size:20px;
    font-weight: 600;
}
p.click_event {
    margin-top:16px;
    text-decoration: underline;
    cursor: pointer;
}
div.module_result_row {
    width:100%;
    margin-top:32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    gap: 16px;
}
div.module_result_row_block {
    width:100%;
    margin-top:32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
    gap: 16px;
}
div.module_result_block {
    width:85%;
    height:70px;
    background-color: var(--block-color);
    border-radius: 13px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
div.module_result_block_pic {
    width:40px;
    height:40px;
    position: relative;
    margin:0 24px 0 16px;
}
p.module_result_block_desc {
    font-size: 14px;
    color:var(--sub_content);
}
i.show {
    font-size:14px;
    color:var(--sub_content);
}
.description {
    font-size: 12px;
    
    /* text-align: center; */
}
