@media screen and (min-width:1900px) {
    div.main__calc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-right:32px;
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    div.main__result {
        width: 50%;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    div.main__calculator_m {
        width:87.5%;
        margin: 8px auto;
    }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
    div.main__calc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-right:32px;
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    div.main__result {
        width: 50%;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    div.main__calculator_m {
        width:75%;
        margin: 8px auto;
    }
}
@media (min-width:601px) and (max-width:1160px) {
    div.main__calc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    div.main__calculator {
        width: 50%;
        margin-right:32px;
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    div.main__result {
        width: 50%;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    div.main__calculator_m {
        width:75%;
        margin: 8px auto;
    }
}
@media (min-width:1px) and (max-width:600px) {
    div.main__calc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    div.main__calculator {
        width: 100%;
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
        border: 1px solid;
    }
    div.main__result {
        width: 100%;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    div.main__calculator_m {
        width:87.5%;
        margin: 8px auto;
    }
}
div.main__calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    margin-top:32px;
    padding-bottom:48px;
}
div.main__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    margin-top:32px;
    padding:48px 0;
}
div.main__calculator > h2 {
    min-width:250px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin:64px auto 0 auto;
}
div.main__calculator_module {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--block-color);
}

div.main__calculator_module_pic {
    width:35px;
    height:35px;
    position: relative;
    margin: 0 24px;
}
div.main__calculator_module_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:150px;
    height:60px;
    cursor: pointer;
}
div.main__calculator_module_close_img {
    width:22.5px;
    height:22.5px;
    position: relative;
}
select.main__calculator_module_select {
    cursor: pointer;
    width:70%;
    font-size:16px;
    background: url(/img/top.svg) no-repeat 95% 50% var(--block-color);
}
input.main__calculator_module_input {
    width:95%;
    font-size:16px;
    font-weight: 500;
}
p.click_event {
    margin-top:16px;
    text-decoration: underline;
    cursor: pointer;
}
div.module_result_row {
    width:100%;
    margin-top:32px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    gap: 20px;
}
div.module_result_row_block {
    width:100%;
    margin-top:32px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    gap: 20px;
}
div.module_result_block {
    width:87.5%;
    height:70px;
    background-color: var(--block-color);
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}
div.module_result_block_without_back {
    width:87.5%;
    height:70px;
    border-radius: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}
div.module_result_block_pic {
    width:40px;
    height:40px;
    position: relative;
    margin:0 24px;
}
p.module_result_block_desc {
    font-size: 14px;
    color:var(--sub_content);
}
i.show {
    font-size:14px;
    color:var(--sub_content);
}
.description {
    font-size: 16px;
    color:var(--sub_content);
    margin-bottom: 16px;
    text-align: center;
}
div.nav__block_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
div.nav__block_menu > a {
    margin:32px 16px 0 0;
    padding:12px 24px;
    font-size:16px;
    border-radius: 200px;
    cursor: pointer;
    display: block;
    text-align: center;
}