*{
  margin:0;
  padding:0;
}

h1 {
  font-size:22px;
  line-height:34px;
}
h2 {
  font-size:20px;
  line-height:31px;
}
h3 {
  font-size:17px;
  line-height:27px;
}
h4 {
  font-size:16px;
  line-height:25px;
}
p {
  font-size:16px;
  line-height:25px;
}
.click {
  cursor: pointer;
}

@keyframes basic_animation {
  from {
      transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
@-webkit-keyframes basic_animation {
  from {
      -webkit-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -webkit-transform: scale(1);
      opacity: 1;
  }
}
@-moz-keyframes basic_animation {
  from {
      -moz-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -moz-transform: scale(1);
      opacity: 1;
  }
}
@-o-keyframes basic_animation {
  from {
      -o-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -o-transform: scale(1);
      opacity: 1;
  }
}
@-ms-keyframes basic_animation {
  from {
      -ms-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -ms-transform: scale(1);
      opacity: 1;
  }
}

@keyframes block_animation {
  from {
      transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-webkit-keyframes block_animation {
  from {
      -webkit-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -webkit-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-moz-keyframes block_animation {
  from {
      -moz-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -moz-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-o-keyframes block_animation {
  from {
      -o-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -o-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-ms-keyframes block_animation {
  from {
      -ms-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -ms-transform: translate(0%, 0%);
      opacity: 1;
  }
}

@keyframes remove_animation {
  from {
      transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      transform: translate(0%, 2%);
      opacity: 0.7;
  }
}
@-webkit-keyframes remove_animation {
  from {
      -webkit-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -webkit-transform: translate(0%, 2%);
      opacity: 0.7;
  }
}
@-moz-keyframes remove_animation {
  from {
      -moz-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -moz-transform: translate(0%, 2%);
      opacity: 0.7;
  }
}
@-o-keyframes remove_animation {
  from {
      -o-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -o-transform: translate(0%, 2%);
      opacity: 0.7;
  }
}
@-ms-keyframes remove_animation {
  from {
      -ms-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -ms-transform: translate(0%, 2%);
      opacity: 0.7;
  }
}

.remove_animation {
    animation-name: remove_animation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.block_animation {
    animation-name: block_animation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

p.sub_content {
  color: var(--sub_content);
  margin-top:20px;
}

p.nav {
  font-size:16px;
  line-height:25px;
  display: flex;
  flex-wrap: wrap;
}

p.nav > a {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:hsl(240, 3%, 11%);
      --block-color: hsl(240, 2%, 18%);
      --menu-color:hsl(240, 2%, 18%);
      --menu-border-color:hsl(240, 2%, 18%);
      --menu-font-color:hsl(241, 100%, 74%);
      --input_back:hsl(240, 2%, 18%);
      --nav_block:hsl(240, 3%, 9%);
      --nav_block_blur:hsla(240, 3%, 9%,0.7);
      --font-color:hsl(0, 0%, 100%);
      --brand-color:hsl(241, 100%, 74%);
      --sub_content:hsla(240, 33%, 94%, 0.6);
      --green_back:hsl(129, 67%, 52%);
      --purple_back:hsl(280, 85%, 65%);
      --blue_back:hsl(210, 100%, 52%);
      --red_back:hsl(349, 100%, 59%);
      --input_back_text:hsla(240, 33%, 94%,.6);
      --input_border:transparent;
      --border-color:hsl(240, 1%, 30%);
      --search_icon: url(../public/img/search_night.svg);
      --nav_menu_c:hsl(240, 3%, 15%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
      --background-color:hsl(0, 0%, 100%);
      --block-color:hsl(220, 13%, 95%);
      --menu-color:hsl(248, 57%, 59%);
      --menu-border-color:hsl(248, 57%, 59%);
      --menu-font-color:hsl(0, 0%, 100%);
      --input_back:hsl(0, 0%, 100%);
      --nav_block:hsl(0, 0%, 98%);
      --nav_block_blur:hsla(0, 0%, 98%,0.7);
      --font-color:hsl(0, 0%, 0%);
      --brand-color:hsl(248, 57%, 47%);
      --sub_content:hsl(213, 5%, 39%);
      --green_back: hsl(135, 59%, 49%);
      --purple_back:hsl(280, 68%, 60%);
      --blue_back: hsl(211, 100%, 50%);
      --red_back:hsl(349, 100%, 59%);
      --input_back_text:hsl(206, 7%, 58%);
      --input_border:hsl(195, 13%, 94%);
      --border-color:hsl(216, 10%, 90%);
      --search_icon: url(../public/img/search.svg);
      --nav_menu_c:hsl(220, 13%, 95%);
  }
}

@media screen and (min-width:1900px) {
  :root {
      --m-1: 30px 150px;
      --m-2: 74px 150px;
      --n-1: 16px 150px;
      --m-p:40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  div.main__menu_nav {
    background-color: var(--nav_block);
    margin:0 11px;
    height: 158px;
  }
  div.main__menu_nav_blocks {
    display: flex;
    margin:22px 11px 0 11px;
  }
  div.main__menu_nav_block {
    background-color: var(--background-color);
  }
  input.header__search_input {
      width: 646px;
  }
  input.header__search_input:focus {
    width:780px;
  }
  div.header__logo {
      order:1;
  }
  div.header__search {
      order:2;
  }
  div.header__action {
      order:3;
  }
  .p-m {
      margin-top:60px;
  }
  .c-m {
      margin: 60px auto 0 auto;
  }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
  :root {
      --m-1: 30px 50px;
      --m-2: 66px 50px;
      --n-1: 24px 50px;
      --m-p: 40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  input.header__search_input {
      width: 380px;
  }
  input.header__search_input:focus {
      width:520px;
  }
  div.header__logo {
      order:1;
  }
  div.header__search {
      order:2;
  }
  div.header__action {
      order:3;
  }
  .p-m {
      margin-top:60px;
  }
  .c-m {
      margin: 60px auto 0 auto;
  }
  div.page_not_found {
    height: 70vh;
  }
}
@media (min-width:601px) and (max-width:1160px) {
  :root {
      --m-1: 30px 32px;
      --m-2: 74px 32px;
      --n-1: 16px 32px;
      --m-p: 32px 32px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  header {
      grid-template-columns: 50% 50%;
      flex-wrap: wrap;
  }
  input.header__search_input {
      width: 100%;
  }
  div.header__logo {
      width:50%;
  }
  div.header__search {
      padding-top:30px;
      width: 100%;
  }
  div.header__action {
      width: 50%;
      justify-content: flex-end;
  }
  .p-m {
      margin-top:30px;
  }
  .c-m {
      margin: 30px auto 0 auto;
  }
  div.page_not_found {
    height: 70vh;
  }
}
@media (min-width:1px) and (max-width:600px) {
  :root {
      --m-1: 30px 16px;
      --m-2: 54px 16px;
      --n-1: 16px 16px;
      --m-p: 0 32px;
      --p:48px;
      --n-b: transparent;
      --i-s: 0 24px 0 52px;
      --display: flex;
  }
  header {
      grid-template-columns: 50% 50%;
      flex-wrap: wrap;
  }
  input.header__search_input {
      width: 100%;
  }
  input.header__search_input:focus {
      border-radius: 14px;
  }
  input.header__search_input:focus+div.header__search_menu {
      display: none;
  }
  input.main__block_interface_menu_c_s_i:focus+span.main__block_interface_menu_c_s_t {
      display: none;
  }
  div.header__logo {
      width:50%;
  }
  div.header__search {
      padding-top:30px;
      width: 100%;
  }

  div.header__action {
      width: 50%;
      justify-content: flex-end;
  }
  span.header__search_menu_text, div#search_top {
      display: none;
  }
  div.main__block_menu_select_block {
      width: 100%;
      padding:16px 0 0 16px;
      margin-bottom:15px;
  }
  .p-m {
      margin-top:30px;
  }
  .c-m {
      margin: 30px auto 0 auto;
  }
  div.page_not_found {
    height: 60vh;
  }
}

input.header__search_input:focus+div.header__search_menu {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sub_content);
  border-radius: 15px;
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--font-color); 
  opacity: 1;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display:flex;
  flex-direction: column;
}

.disabled {
  cursor: not-allowed;
}

html {
  overflow-y: overlay;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:25px;
  background-color: var(--background-color);
  color:var(--font-color);
  font-display: optional;
}
input,button,input:focus,textarea,textarea:focus,select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:25px;
  background-color: transparent;
  border:0 none;
  outline:none;
  border-radius:0;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  color:var(--font-color);
  font-display: optional;
  caret-color: var(--brand-color);
}

a {
  text-decoration: none;
  display: block;
  color:var(--font-color);
}

b.b_color {
  color:var(--brand-color);
  cursor:pointer;
}
div.alerts_g {
  width: 250px;
  height:50px;
  background-color: var(--green_back);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:27px;
  animation-name: basic_animation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

span.logo {
  width: 300px;
  color:var(--sub_content);
  text-align: center;
}
span.logo_s {
  font-weight: 700;
  color:white;
}


header {
  padding:var(--m-1);
  background-color: var(--background-color);
  display: var(--display);
  /* border-bottom:1px solid var(--border-color); */
}


div.header__logo {
  display: flex;
  align-items: center;
}

div.header__logo_pic {
  position: relative;
  width: 150px;
  height: 30px;
}

img.header__logo_img {
  position: absolute;
  width: auto;
  height: 30px;
  cursor: pointer;
}

div.header__search_menu_pic {
  position: relative;
  width: 22px;
  height: 22px;
}

img.header__search_menu_img {
  position: absolute;
  width:auto;
  height:22px;
}

div.header__search {
  margin: 0 auto;
  display: flex;
}

div.header__search_menu {
  order:1;
  display: flex;
  align-items: center;
  padding:0 16px;
  height:46px;
  background-color: var(--menu-color);
  border-radius: 14px;
  border:1.5px solid var(--menu-border-color);
  cursor: pointer;
  margin-right:16px;
}
span.header__search_menu_text {
  font-size:16px;
  font-weight: 600;
  color: var(--menu-font-color);
  margin: 0 16px 0 16px;
}
input.header__search_input {
  order:2;
  padding:var(--i-s);
  height:46px;
  font-size:16px;
  border:1.5px solid var(--input_border);
  border-radius: 14px;
  color:var(--font-color);
  background: var(--search_icon) no-repeat scroll 11px 11px var(--input_back);
}
input.header__search_input::placeholder {
  color: var(--input_back_text);
}
button.header__search_button {
  order:3;
  display: flex;
  align-items: center;
  padding:0 17px;
  height:52px;
  background-color: var(--background-color);
  border-radius: 0 14px 14px 0;
  border:1px solid var(--block-color);
  cursor:pointer;
}
div.header__action {
  display:flex;
}
img.header__action_avatar {   
  width: 46px;
  height: 46px;
  border-radius: 14px;
  border:1px solid var(--block-color);
  cursor:pointer;
  background-color: var(--block-color);
}
div.header__action_block {
  width:85px;
  height:46px;
  background-color: var(--block-color);
  margin-left:16px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
span.header__action_block_text {
  font-weight: 700;
}

/* Main */
div.main__preloader {
  width:100%;
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.main__preloader_pic {
  width: 100px;
  height: 100px;
}
div.page_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: basic_animation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
div.page_not_found_block{
  width: 256px;
  height:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1.page_not_found {
  /* margin-top:20px; */
  text-align: center;
  font-size: 30px;
}
p.page_not_found {
  margin-top:20px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color:var(--sub_content);
}
a.page_not_found{
  padding:16px 27px;
  width: auto;
  height: auto;
  background: var(--red_back);
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin:20px auto 0 auto;
}
/*  */
#frame { transform: scale(0.75); }


