*{
  margin:0;
  padding:0;
}

div.emoji_h1 {
  width: 26px;
  height: 26px;
  position: relative;
  margin-left:8px;
}



.flex_text {
  display: flex;
  align-items: center;
  
}

h1 {
  font-size:22px;
  line-height:34px;
}
h2 {
  font-size:20px;
  line-height:31px;
}
h3 {
  font-size:17px;
  line-height:27px;
}
h4 {
  font-size:16px;
  line-height:26px;
}
h5 {
  font-size:15px;
  line-height: 20px;
}
h6 {
  font-size:13px;
  line-height:20px;
}
span.head {
  font-size:13px;
  line-height:20px;
  font-weight: 700;
}
span.head_1 {
  font-size:15px;
  line-height: 20px;
  font-weight: 700;
}
p {
  font-size:16px;
  line-height:26px;
}
p.small {
  font-size: 14px;
  line-height: 20px;
}
p.smaller {
  font-size: 13px;
  line-height: 18px;
}
p.sm {
  margin-top:16px;
  font-size: 13px;
  line-height: 18px;
}
.click {
  cursor: pointer;
}
.anim_hover {
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.anim_hover:hover {
  -o-transform: translate(0%, -8%);
  -ms-transform: translate(0%, -8%);
  -webkit-transform: translate(0%, -8%);
  -moz-transform: translate(0%, -8%);
  transform: translate(0%, -8%);
  -ms-transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -o-appearance: textfield;
  -ms-appearance: textfield;
  appearance: none;
}

@keyframes basic_animation {
  from {
      transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
@-webkit-keyframes basic_animation {
  from {
      -webkit-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -webkit-transform: scale(1);
      opacity: 1;
  }
}
@-moz-keyframes basic_animation {
  from {
      -moz-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -moz-transform: scale(1);
      opacity: 1;
  }
}
@-o-keyframes basic_animation {
  from {
      -o-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -o-transform: scale(1);
      opacity: 1;
  }
}
@-ms-keyframes basic_animation {
  from {
      -ms-transform: scale(0.95);
      opacity: 0.7;
  }
  to {
      -ms-transform: scale(1);
      opacity: 1;
  }
}

@keyframes block_animation {
  from {
      transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-webkit-keyframes block_animation {
  from {
      -webkit-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -webkit-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-moz-keyframes block_animation {
  from {
      -moz-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -moz-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-o-keyframes block_animation {
  from {
      -o-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -o-transform: translate(0%, 0%);
      opacity: 1;
  }
}
@-ms-keyframes block_animation {
  from {
      -ms-transform: translate(0%, 2%);
      opacity: 0.7;
  }
  to {
      -ms-transform: translate(0%, 0%);
      opacity: 1;
  }
}

@keyframes remove_animation {
  from {
      transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      transform: translate(0%, 2%);
      opacity: 0;
  }
}
@-webkit-keyframes remove_animation {
  from {
      -webkit-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -webkit-transform: translate(0%, 2%);
      opacity: 0;
  }
}
@-moz-keyframes remove_animation {
  from {
      -moz-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -moz-transform: translate(0%, 2%);
      opacity: 0;
  }
}
@-o-keyframes remove_animation {
  from {
      -o-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -o-transform: translate(0%, 2%);
      opacity: 0;
  }
}
@-ms-keyframes remove_animation {
  from {
      -ms-transform: translate(0%, 0%);
      opacity: 1;
  }
  to {
      -ms-transform: translate(0%, 2%);
      opacity: 0;
  }
}

.remove_animation {
    animation-name: remove_animation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.block_animation {
    animation-name: block_animation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.basic_animation {
    animation-name: basic_animation;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

p.sub_content {
  color: var(--sub_content);
  margin-top:20px;
}

p.nav {
  font-size:16px;
  line-height:26px;
  display: flex;
  flex-wrap: wrap;
}

p.nav > a {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
      --top-icon:url(../public/img/top-night.svg);
      --menu-icon:url(../public/img/menu-night.svg);
      --logo:url(../public/img/logo-night.webp);
      --background-color:hsla(0, 0%, 0%,0.92);
      --header-color:hsl(240, 3%, 11%);
      --block-color: hsl(240, 2%, 18%);
      --menu-color:hsl(240, 2%, 18%);
      --menu-border-color:hsl(240, 2%, 18%);
      --menu-font-color:hsl(241, 100%, 77%);
      --input_back:hsl(240, 2%, 18%);
      --nav_block:hsl(240, 3%, 11%);
      --nav_block_blur:hsla(240, 3%, 9%,0.7);
      --font-color:hsl(0, 0%, 100%);
      --brand-color:hsl(241, 100%, 74%);
      --sub_content:hsla(240, 33%, 94%, 0.6);
      --green_back:hsl(129, 67%, 52%);
      --purple_back:hsl(280, 85%, 65%);
      --blue_back:hsl(210, 100%, 52%);
      --red_back:hsl(349, 100%, 59%);
      --orange_back:hsl(35, 100%, 50%);
      --input_back_text:hsla(240, 33%, 94%,.5);
      --input_border:transparent;
      --border-color:hsl(240, 1%, 30%);
      --search_icon: url(../public/img/search_night.svg);
      --nav_menu_c:hsl(240, 2%, 18%);
      --back_contrast:brightness(100%);
      --confirm_block:hsl(240, 2%, 18%);
      --search_back:hsl(240, 2%, 18%);
      --search-block: hsl(240, 2%, 28%);
      --brand_back:hsl(241, 100%, 74%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
      --top-icon:url(../public/img/top.svg);
      --menu-icon:url(../public/img/menu.svg);
      --logo:url(../public/img/logo.webp);
      --background-color:hsl(210, 10%, 96%);
      --header-color:hsl(0, 0%, 100%);
      --block-color:hsl(220, 14%, 95%);
      --menu-color:hsl(248, 57%, 59%);
      --menu-border-color:hsl(248, 57%, 59%);
      --menu-font-color:hsl(0, 0%, 100%);
      --input_back:hsl(0, 0%, 100%);
      --nav_block:hsl(0, 0%, 100%);
      --nav_block_blur:hsla(0, 0%, 98%,0.7);
      --font-color:hsl(225, 15%, 16%);
      --brand-color:hsl(248, 57%, 47%);
      --sub_content:#777E90;
      --green_back: hsl(135, 59%, 49%);
      --purple_back:hsl(280, 68%, 60%);
      --blue_back: hsl(211, 100%, 50%);
      --red_back:hsl(349, 100%, 59%);
      --orange_back:hsl(36, 100%, 52%);
      --input_back_text:#777e90;
      --input_border:#E6E8EC;
      --border-color:hsl(216, 10%, 90%);
      --search_icon: url(../public/img/search.svg);
      --nav_menu_c:hsl(240, 24%, 98%);
      --back_contrast:brightness(40%);
      --confirm_block:hsl(0, 0%, 100%);
      --search_back:hsl(0, 0%, 100%);
      --search-block: hsl(210, 7%, 95%);
      --brand_back:hsl(248, 57%, 59%);
  }
}
.sup {
  font-size:12px;
  vertical-align: 2px;
  font-weight: 300;
  color:var(--sub_content)
}
.top_header {
  margin-top:32px;
}
.grey_background {
  background-color: var(--sub_content);
}
.brand_background {
  background-color: var(--brand_back);
}
.green_background {
  background-color: var(--green_back);
}
.block_background {
  background-color: var(--block-color);
}
.blue_background {
  background-color: var(--blue_back);
}
.red_background {
  background-color: var(--red_back);
}
.purple_background {
  background-color: var(--purple_back);
}
.orange_background {
  background-color: var(--orange_back);
}
.green_font{
  color: var(--green_back);
}
.blue_font {
  color: var(--blue_back);
}
.red_font {
  color: var(--red_back);
}
.purple_font {
  color: var(--purple_back);
}
.orange_font {
  color: var(--orange_back);
}
.white_font {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width:1900px) {
  :root {
      --m-1: 30px 150px;
      --m-2: 64px 150px;
      --m-3: 64px 150px;
      --n-1: 32px 150px;
      --n-2: 16px 37.5px;
      --m-p:40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  div.header__search_blocks {
    width:870px;
  }
  div.main__menu_nav {
    background-color: var(--nav_block);
    margin:0 11px;
    height: 158px;
  }
  div.main__menu_nav_blocks {
    display: flex;
    margin:22px 11px 0 11px;
  }
  div.main__menu_nav_block {
    background-color: var(--background-color);
  }
  input.header__search_input {
      width: 632px;
  }
  input.header__search_input:focus {
    width:782px;
  }
  div.header__logo {
      order:1;
  }
  div.header__search {
      order:2;
  }
  div.header__action {
      order:3;
  }
  .p-m {
      margin-top:60px;
  }
  .c-m {
      margin: 60px auto 0 auto;
  }
  div.page_not_found {
    height: 80vh;
  }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
  :root {
      --m-1: 30px 64px;
      --m-2: 64px 64px;
      --m-3: 64px 64px;
      --n-1: 24px 64px;
      --n-2: 16px 12.5px;
      --m-p: 40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  div.header__search_blocks {
    width:610px;
  }
  input.header__search_input {
      width: 372px;
  }
  input.header__search_input:focus {
      width:522px;
  }
  div.header__logo {
      order:1;
  }
  div.header__search {
      order:2;
  }
  div.header__action {
      order:3;
  }
  .p-m {
      margin-top:60px;
  }
  .c-m {
      margin: 60px auto 0 auto;
  }
  div.page_not_found {
    height: 80vh;
  }
}
@media (min-width:601px) and (max-width:1160px) {
  :root {
      --m-1: 30px 32px;
      --m-2: 58px 32px;
      --m-3: 32px 32px;
      --n-1: 16px 32px;
      --n-2: 16px 12px;
      --m-p: 32px 32px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex;
  }
  
  div.header__search_blocks {
    width:88vw;
  }
  header {
      grid-template-columns: 50% 50%;
      flex-wrap: wrap;
  }
  input.header__search_input {
      width: 100%;
  }
  div.header__logo {
      width:50%;
  }
  div.header__search {
      padding-top:30px;
      width: 100%;
  }
  div.header__action {
      width: 50%;
      justify-content: flex-end;
  }
  .p-m {
      margin-top:30px;
  }
  .c-m {
      margin: 30px auto 0 auto;
  }
  div.page_not_found {
    height: 70vh;
  }
}
@media (min-width:1px) and (max-width:600px) {
  :root {
      --m-1: 30px 16px;
      --m-2: 38px 16px;
      --m-3: 32px 16px;
      --n-1: 16px 16px;
      --n-2: 16px 0;
      --m-p: 0 32px;
      --p:48px;
      --n-b: transparent;
      --i-s: 0 24px 0 52px;
      --display: flex;
  }
  div.header__search_blocks {
    width:82vw;
  }
  header {
      grid-template-columns: 50% 50%;
      flex-wrap: wrap;
  }
  input.header__search_input {
      width: 100%;
  }
  input.header__search_input:focus {
      border-radius: 13px;
  }
  input.header__search_input:focus+div.header__search_menu {
      display: none;
  }
  input.main__block_interface_menu_c_s_i:focus+span.main__block_interface_menu_c_s_t {
      display: none;
  }
  div.header__logo {
      width:50%;
  }
  div.header__search {
      padding-top:30px;
      width: 100%;
  }

  div.header__action {
      width: 50%;
      justify-content: flex-end;
  }
  span.header__search_menu_text, div#search_top {
      display: none;
  }
  div.main__block_menu_select_block {
      width: 100%;
      padding:16px 0 0 16px;
      margin-bottom:15px;
  }
  .p-m {
      margin-top:30px;
  }
  .c-m {
      margin: 30px auto 0 auto;
  }
  div.page_not_found {
    height: 75vh;
  }
}

div.c>input.header__search_input:focus+div.header__search_menu {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sub_content);
  border-radius: 15px;
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--font-color); 
  opacity: 1;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display:flex;
  flex-direction: column;
}

.disabled {
  cursor: not-allowed;
}

html {
  overflow-y: overlay;
}

html,body {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:26px;
  background-color: var(--background-color);
  color:var(--font-color);
  font-display: optional;
}
input,button,input:focus,textarea,textarea:focus,select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:26px;
  background-color: transparent;
  border:0 none;
  outline:none;
  border-radius:0;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  color:var(--font-color);
  font-display: optional;
  caret-color: var(--brand-color);
}

a {
  text-decoration: none;
  display: block;
  color:var(--font-color);
}

b.b_color {
  color:var(--brand-color);
  cursor:pointer;
}
div.alerts_g {
  width: 250px;
  height:50px;
  background-color: var(--green_back);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:27px;
  animation-name: basic_animation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

span.logo {
  width: 300px;
  color:var(--sub_content);
  text-align: center;
}
span.logo_s {
  font-weight: 700;
  color:white;
}


header {
  padding:var(--m-1);
  background-color: var(--header-color);
  display: var(--display);
  /* border-bottom:1px solid var(--border-color); */
  margin-bottom: 16px;
  border-radius: 0 0 13px 13px;
}


div.header__logo {
  display: flex;
  align-items: center;
}

div.header__logo_p {
  width:150px;
}

div.header__logo_pic {
  position: relative;
  width: 105px;
  height: 30px;
  background-image:var(--logo);
  background-size: 105px 30px;
}

img.header__logo_img {
  position: absolute;
  width: 105px;
  height: 30px;
  cursor: pointer;
}

div.header__search_menu_pic {
  position: relative;
  width: 22px;
  height: 22px;
  background-image:var(--top-icon);
  background-size: 22px 22px;
}

div.header__search_menu_pic1 {
  position: relative;
  width: 22px;
  height: 22px;
  background-image:var(--menu-icon);
  background-size: 22px 22px;
}

img.header__search_menu_img {
  position: absolute;
  width:auto;
  height:22px;
}

div.header__search {
  margin: 0 auto;
  display: flex;
}

div.header__search_blocks {
  position: absolute;
  z-index:2;
  margin-top:60px;
  background-color: var(--search_back);
  padding:16px;
  border-radius: 13px;
  border: 1.5px solid var(--input_border);
}
div.header__search_blocks > div {
  margin-top:8px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

div.header__search_menu {
  order:1;
  display: flex;
  align-items: center;
  padding:0 16px;
  height:46px;
  background-color: var(--menu-color);
  border-radius: 13px;
  border:1.5px solid var(--menu-border-color);
  cursor: pointer;
  margin-right:16px;
}
span.header__search_menu_text {
  font-size:16px;
  line-height:26px;
  font-weight: 600;
  color: var(--menu-font-color);
  margin: 0 16px 0 16px;
}
input.header__search_input {
  order:2;
  padding:var(--i-s);
  height:46px;
  font-size:16px;
  border:1.5px solid var(--input_border);
  border-radius: 13px;
  color:var(--font-color);
  background: var(--search_icon) no-repeat scroll 11px 11px var(--input_back);
}
input.header__search_input::placeholder {
  color: var(--input_back_text);
}
button.header__search_button {
  order:3;
  display: flex;
  align-items: center;
  padding:0 17px;
  height:52px;
  background-color: var(--background-color);
  border-radius: 0 14px 14px 0;
  border:1px solid var(--block-color);
  cursor:pointer;
}
div.header__action {
  display:flex;
}
div.header__action_image {
  width: 46px;
  height: 46px;
  border-radius: 13px;
  border:1px solid var(--block-color);
  background-color: var(--block-color);
  position: relative;
}
img.header__action_avatar {   
  width: 46px;
  height: 46px;
  border-radius: 13px;
  object-fit: cover;
}
div.header__action_block {
  width:85px;
  height:46px;
  margin-left:16px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size:16px;
  background-color: var(--block-color);
}
span.header__action_block_text {
  text-transform: uppercase;
  font-weight: 700;
}

/* Main */
div.main__preloader {
  width:100%;
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.main__preloader_pic {
  width: 100px;
  height: 100px;
}
div.page_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: basic_animation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background-color: var(--header-color);
  border-radius: 13px;
  margin:var(--n-2);
}
div.page_not_found_block{
  width: 276px;
  height:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div.page_not_found_block_pic{
  width: 256px;
  height:256px;
  position: relative;
  margin: 0 auto;
}
div.page_not_found_block_img{
  width: 200px;
  height:200px;
  position: relative;
  margin: 0 auto 24px auto;
}
h1.page_not_found {
  /* margin-top:20px; */
  text-align: center;
  font-size: 30px;
}
p.page_not_found {
  margin-top:20px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color:var(--sub_content);
}
a.page_not_found{
  padding:16px 27px;
  width: auto;
  height: auto;
  background: var(--red_back);
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin:20px auto 0 auto;
}
div.confirm__back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  -webkit-backdrop-filter: blur(2px) var(--back_contrast);
  -moz-backdrop-filter: blur(2px) var(--back_contrast);
  -o-backdrop-filter: blur(2px) var(--back_contrast);
  -ms-backdrop-filter: blur(2px) var(--back_contrast);
  backdrop-filter: blur(2px) var(--back_contrast);
  background-color: var(--nav_block_blur);
  z-index:999999;
}
div.confirm__block {
  width:244px;
  height: auto;
  background-color: var(--confirm_block);
  border-radius: 13px;
  padding:20px;
  text-align: center;
}
div.confirm__block_action {
  display: grid;
}
div.confirm__block_action > div {
  margin-top:16px;
  padding-bottom:8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}
span.confirm__block_action_row {
  margin-left:8px;
  font-size:16px;
}
div.confirm__block_action_2 {
  margin-top:16px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50px;
}
div.confirm__block_action_2 > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.confirm_custom {
  width: 100px;
  padding:8px 0;
  border-radius: 26px;
  cursor: pointer;
}
button.confirm_custom_a {
  width: 100px;
  padding:8px 0;
  border-radius: 26px;
  cursor: pointer;
  color:white;
}
/*  */
div.main_hide {
  width:100vw;
  height: 82vh;
  position: absolute;
  z-index:1;
  /* -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -o-backdrop-filter: blur(1px);
  -ms-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); */
}
div.fullscreen__result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  height: 100vh;
  background-color: var(--nav_block_blur);
  position: fixed;
  z-index:10;
  -webkit-backdrop-filter: blur(10px) brightness(0.2);
  -moz-backdrop-filter: blur(10px) brightness(0.2);
  -o-backdrop-filter: blur(10px) brightness(0.2);
  -ms-backdrop-filter: blur(10px) brightness(0.2);
  backdrop-filter: blur(10px) brightness(0.2);
}
div.fullscreen__result_block {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:280px;
  height: 46px;
  padding:0 16px;
  border-radius: 30px;
  color:white;
  margin: 20px auto 0 auto;
}
div.fullscreen__result_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:8px;
}
#frame { 
  width:95%;
  height: 442px;
  border:0;display:block; 
  margin:0 auto;
  background-color: var(--nav_block);
  border-radius: 13px;
  transform: scale(0.95);
}
#frame_f { 
  width:100%;
  height: 85vh;
  border:0;display:block; 
  margin:0 auto;
  border-radius: 13px;
  transform: scale(0.95);
  background-color: var(--nav_block);
}
div.main__crop_image {
  width:100vw;
  height: 100vh;
  background-color: var(--nav_block_blur);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index:30;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.main__crop_image_block {
  width:70vw;
  height: 70vh;
  background-color: var(--background-color);
  position: fixed;
  z-index:30;
}
div.main__crop_image_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  bottom:0;
  position: fixed;
  margin-bottom:20px;
}
button.main__block_button {
  padding:16px 27px;
  width: auto;
  height: auto;
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
div.main {
  padding:var(--m-3);
  background-color: var(--header-color);
  border-radius: 13px;
  margin: 16px 0;
}
div.main__nav {
  margin: var(--n-2);
  padding:var(--n-1);
  background-color: var(--nav_block);
  border-radius: 13px;
}
.blur_background {
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
}


