@media screen and (min-width:1900px) {
    div.main__menu_nav {
        display: flex;
        justify-content: center;
        background-color: var(--nav_block);
        margin:0 25px;
        padding: 22px 0;
        width:1880px;
        border-radius: 13px;
        margin: 0 auto;
    }
    div.main__menu_nav_blocks {
        display: flex;
        margin:0 11px;
    }
    div.main__menu_nav_block {
        background-color: var(--nav_menu_c);
        width:110px;
        height:110px;
        border-radius: 13px;
        margin: 0 11px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    span.nav_header {
        margin-top:8px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
}

@media screen and (min-width:1161px) and (max-width:1899px) {
    div.main__menu_nav {
        display: flex;
        justify-content: center;
        background-color: var(--nav_block);
        margin:0 25px;
        padding: 22px 0;
        width:calc(100%-100px);
        border-radius: 13px;
        backdrop-filter: blur(80px);
    }
    div.main__menu_nav_blocks {
        display: flex;
        margin:0 11px;
    }
    div.main__menu_nav_block {
        background-color: var(--nav_menu_c);
        width:110px;
        height:110px;
        border-radius: 13px;
        margin: 0 11px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    span.nav_header {
        margin-top:8px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
}

@media (min-width:601px) and (max-width:1160px) {
    div.main__menu_nav {
        background-color: var(--nav_block);
        margin:0 11px;
        padding: 22px 0;
        width:calc(100%-22px);
        border-radius: 13px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    div.main__menu_nav_blocks {
        display: flex;
        margin:0 11px;
    }
    div.main__menu_nav_block {
        background-color: var(--nav_menu_c);
        width:110px;
        height:110px;
        border-radius: 13px;
        margin: 0 11px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    span.nav_header {
        margin-top:8px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
}
@media (min-width:1px) and (max-width:600px) {
    div.main__menu_nav {
        background-color: transparent;
        width:100%;
        padding:16px 0;
        overflow-x: auto;
        overflow-y: hidden;
        background-color: var(--nav_block);
    }
    div.main__menu_nav_blocks {
        display: flex;
        margin:0 8px;
    }
    div.main__menu_nav_block {
        background-color: var(--nav_menu_c);
        width:95px;
        height:95px;
        border-radius: 13px;
        margin: 0 8px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    span.nav_header {
        margin-top:4px;
        font-size: 12px;
        text-align: center;
        font-weight: 500;
    }
}
div.main__menu_nav_block_image {
    width:46px;
    height:46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}
